#contentWrap{
	display: none;
}
#chatWrap{
	float: left;
	background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); 
    position: relative;
}
#chat{
	position: relative;
	width: 100%;
	float:left;
	height: 100%;
	overflow: auto;
	margin: 10px 0px;
	padding: 0px;
}

#panel_messages {
	margin-top: 10px;
}